* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: white;
    --sidebar-color: #fff;
    --primary-color: #8ACBF5;
    --primary-color-light: white;
    --toggle-color: #8ACBF5;
    --text-color: grey;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}


.side-bar .text {
    font-size: 16px;
    font-weight: 500;
}

.side-bar .img {
    min-width: 60px;
    display: flex;
    align-items: center;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: #E9E9E9;
    transition: var(--tran-03);
}

.side-bar .image-text .img img {
    width: 100px;
    border-radius: 10px;
    left: 10px;
    padding: 20px;
}

.side-bar header .image-text {
    display: flex;
    align-items: center;

}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-size: 32px;
    font-weight: 500;
}

.side-bar header .toggle {
    position: absolute;
    top: 40px;
    right: -15px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: 3px;
    background: var(--toggle-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 25px;
}
.side-bar header .toggle .toggle-img{
     transition: var(--tran-03);
}
.side-bar header .toggle:hover .toggle-img{
     margin-bottom: 5px;
     transform: rotate(180deg);
}

.side-bar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.side-bar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 25px;
}

.side-bar li .icon,
.side-bar li .text {
    color: #000;
    transition: var(--tran-03);
}

.side-bar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 30px;
    transition: var(--tran-04);
}

.side-bar li a:hover {
    background: var(--primary-color);
}

.side-bar li a:hover .icon,
.side-bar li a:hover .text ,
.side-bar .active a .icon ,
.side-bar .active a .text 
{
    color: var(--sidebar-color);
}

.menu-bar .bottom-content .logout {
    position: relative;
    margin-top: 100px;
}

.nav-link.active {
    border-radius: 30px;
    background: var(--primary-color);
    color: #fff !important;
}

.toggle:hover toggle-img{
    transform: rotate(180deg);
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.collapsed{
    transition: var(--tran-03);
    transform: translate(-110%);
}